html, body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
  
body {
    margin: 0;
    position: relative;
}


table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: #3e8e41 1px solid;
    padding: 8px;
    text-align: center;
  }

  td {
    background-color: white;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    font-weight: 300;
    font-size: 12px;
  }

.section {
    margin: 0px;
    padding: 10px;
}

/* Select... */

select {
    appearance: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: black;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .select-selected {
    background-color: #fff;
  }
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  .select-items {
    position: absolute;
    background-color: #f9f9f9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

/* Modify and delete */

.tab-btn {
  border:  #4CAF50 dashed 1px;
  background-color: white;
  color: black
}

/* Headings */

h1 {
    text-align: center;
    margin: 10px
}

h3 {
    text-decoration: underline;
}

#step-form {
    margin: 10px 0;
}

#result {
    margin: 0;
    padding: 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
}

/* The modal window */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 85%; /* Could be more or less, depending on screen size */
}

/* The close button 
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}*/